#root {
  height: 100vh;
  width: 100vw;
  font-weight: 400;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #986a6ac8 #0055ff00;
}

#root::-webkit-scrollbar {
  width: 6px;
}

#root::-webkit-scrollbar-track {
  background: #f3f4f6;
}

#root::-webkit-scrollbar-thumb {
  background-color: #7d899a;
  border-radius: 3px; /* Adjusted for thinner scrollbar */
  border: none; /* Removed border for cleaner look */
}

body {
  margin: 0;
  padding: 0; /* Added to ensure no default padding */
  min-width: 320px;
  min-height: 100vh;
}

.main {
  background-image: url('/bg-grey-syntra.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  button {
    background-color: #f9f9f9;
  }
}

#dropdownUiKitButton {
  border: 1px solid #e5e7eb; /* Equivalent of border-slate-200 */
}
